@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior:smooth;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

body {
  height: 200vh;
}