/* ! Contact Css Start */
.contact-section {
    background-color: #F9FAFB;
    padding: 100px 0;
}


.contact-section .container .top-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section .container .top-wrapper .title h6 {
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px !important;
}


.contact-section .container .top-wrapper .sub-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section .container .top-wrapper .sub-info p {
    text-align: center;
    color: rgb(148 163 184);
    margin-bottom: 55px;
    width: 70%;
}

.contact-section .container .row .col-lg-8 .form-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid rgb(60 72 88 / 0.15);
}

.contact-section .container .row .col-lg-8 .form-wrapper input,
.contact-section .container .row .col-lg-8 .form-wrapper textarea {
    width: 100%;
    border: 1px solid rgb(60 72 88 / 0.15);
    padding: 7px 15px;
    margin-bottom: 20px;
    transition: all .1s ease-in-out;
}

.contact-section .container .row .col-lg-8 .form-wrapper input:focus,
.contact-section .container .row .col-lg-8 .form-wrapper textarea:focus {
    border: 1px solid #3e86f3;
    outline: none;
}

.contact-section .container .row .col-lg-8 .form-wrapper div {
    display: flex;
    justify-content: space-between;
}

.contact-section .container .row .col-lg-8 .form-wrapper div input {
    width: 49%;
}

.contact-section .container .row .col-lg-8 .form-wrapper button {
    padding: 10px 25px;
    border: 2px solid #1b73f8;
    background-color: #1F79FD;
    color: white !important;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.contact-section .container .row .col-lg-8 .form-wrapper button:focus {
    outline: none;
}

.contact-section .container .row .col-lg-8 .form-wrapper button:hover {
    background-color: #0056d5;
}

.contact-section .container .row .col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.contact-section .container .row .col-lg-4 .informations-wrapper {
    width: 100%;
}

.contact-section .container .row .col-lg-4 .informations-wrapper .phone {
    display: flex;
    align-items: start;
    justify-content: start;
}

.contact-section .container .row .col-lg-4 .informations-wrapper .email {
    display: flex;
    align-items: start;
    justify-content: start;
}

.contact-section .container .row .col-lg-4 .informations-wrapper .location {
    display: flex;
    align-items: start;
    justify-content: start;
}

.contact-section .container .row .col-lg-4 .informations-wrapper div .icon {
    margin-right: 25px;
}

.contact-section .container .row .col-lg-4 .informations-wrapper div .icon i {
    font-size: 25px;
    font-weight: 900 !important;
}

.contact-section .container .row .col-lg-4 .informations-wrapper .right {
    display: flex;
    flex-direction: column;
}

.contact-section .container .row .col-lg-4 .informations-wrapper .right .title h6 {
    font-weight: 500;
    font-family: Poppins, sans-serif;
    font-size: 17px !important;
    margin-bottom: 7px !important;
    margin-top: 4px;

}

.contact-section .container .row .col-lg-4 .informations-wrapper .right .text p {
    color: rgb(148 163 184) !important;
}

/* ? Contact responsive start */
@media(max-width:991px) {
    .contact-section .container .top-wrapper .sub-info p {
        width: 100%;
    }

    .contact-section .container .row .col-lg-4 {
        margin-top: 40px;
        padding-left: 15px;
    }
}

@media(max-width:758px) {
    .contact-section .container .row .col-lg-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .contact-section .container .row .col-lg-8 .form-wrapper div {
        flex-direction: column;
    }

    .contact-section .container .row .col-lg-8 .form-wrapper div input {
        width: 100%;
    }

    .contact-section .container .row .col-lg-8 .form-wrapper {
        padding: 20px;
    }
}

/* ? Contact responsive end */

/* ! Contact Css End */